.Section2-Column-Container {
    margin-top: 15px;
}

.ButtonContainer {
    display: flex;
    justify-content: right;
}

.ButtonRow2Section1 {
    border: 1px solid #5d5c5c;
    background-color: transparent;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 5px;
    color: white;
}

#CardChartLoading {
    background-color: #222222;
    border: 1px solid #5d5c5c;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#CardChartLoading2 {
    background-color: #222222;
    height: 230px;
    margin-top: 10px;
    border: 1px solid #5d5c5c;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
