#wilayahKasusTerbanyak {
    height: 250px;
    background-color: #222222;
    width: 100%;
    border: 1px solid #5d5c5c;
    float: right;
    padding: 3px;
    color: white;
}

.wilayahKasusTerbanyak-content {
    height: 214px;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
}

.wilayahKasusTerbanyak-content::-webkit-scrollbar {
    width: 10px;
    background-color: white;
}

.wilayahKasusTerbanyak-content::-webkit-scrollbar-thumb {
    background: #5d5c5c;
}

.wilayahKasusTerbanyak-content-judul-container {
    height: 30px;
    border-bottom: 1px solid #5d5c5c;
}

.wilayahKasusTerbanyak-content-judul {
    position: relative;
    left: 7px;
    top: 3px;
    font-weight: 600;
}

.wilayahKasusTerbanyak-content-provinsi-container {
    margin-top: 2px;
    margin-left: 7px;
}

.daftarProvinsi {
    font-size: 13px;
    font-family: "Roboto", sans-serif;
}

.daftarProvinsi2 {
    margin-top: -15px;
}

.topTotalKasus {
    color: red;
}
