#footer {
    height: 60px;
    width: 100%;
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    letter-spacing: 1px;
    font-family: "Roboto", sans-serif;
    margin-top: 15px;
}

.footer-content-container {
    width: 100%;
    max-width: 900px;
}

.footer-desc {
    text-align: center;
    color: white;
    font-family: "Roboto Flex", sans-serif;
    font-size: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.footer-link {
    padding-left: 10px;
    color: #049ad7;
}
