#CardVaksin {
    width: 100%;
    max-width: 280px;
    min-width: 180px;
    height: 164px;
    border: 1px solid #5d5c5c;
    font-family: "Roboto Flex", sans-serif;
    color: white;
    margin-top: 20px;
    background-color: #222222;
}

.CardVaksin-Top {
    height: 50%;
    border-bottom: 1px solid #5d5c5c;
}

.CardVaksin-Title {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.5px;
    padding-top: 3px;
    margin-bottom: 0px;
}

.CardVaksin-Value {
    font-size: 30px;
    text-align: center;
    letter-spacing: 0.5px;
    padding-top: 3px;
    color: rgb(103, 209, 209);
}

.CardVaksin-Bottom {
    height: 50%;
}

@media screen and (max-width: 1200px) {
    .CardVaksin-Title {
        font-size: calc(0.8 * 15px);
    }
    .CardVaksin-Value {
        font-size: calc(0.8 * 35px);
    }
    .CardVaksin-Title {
        margin-bottom: 5px;
    }
}
